AUTH0_DOMAIN="YOUR_AUTH0_DOMAIN" 
AUTH0_CLIENT_ID="YOUR_AUTH0_CLIENT_ID" 
AUTH0_CLIENT_SECRET="YOUR_AUTH0_CLIENT_SECRET" 
APP_BASE_URL="http://localhost:3000" 
APP_SECRET_KEY="use [openssl rand -hex 32] to generate a 32 bytes value" 
# OpenAI 
OPENAI_API_KEY="YOUR_OPEN_AI_KEY" 
API_AUDIENCE="https://zoo-management-api" 
API_BASE_URL="http://localhost:8000" 

VETERINARIAN_SUPPLIES_EMAIL="EMAIL_SENT_FOR_VETERINARY_SUPPLIES" 
CLEANING_SUPPLIES_EMAIL="EMAIL_SENT_FOR_CLEANING_SUPPLIES"
EMERGENCY_COORDINATOR_ID="AUTH0_USER_ID_THAT_WILL_RECEIVE_PUSH_NOTIFICATIONS"
